<div class="slogan">
  <h1>
    Laundry & Dry Cleaning at your Convenience
  </h1>
  <div class="app-download-image">
    <img style="margin-right: 1rem"
      src="http://dywqwyjwhdpi9.cloudfront.net/images/website/google-play-store.png"
      alt="play store"
    />
    <img
      src="http://dywqwyjwhdpi9.cloudfront.net/images/website/app_store.png"
      alt="ios store"
    />
  </div>
  <div class="book-now-button">
    <h5>OR</h5>
    <a class="hvr-grow-shadow" routerLink="/login">Book Now</a>
  </div>
</div>
<div class="properties">
  <h3 class="hvr-grow-shadow">
    Free Pickup and Delievery
  </h3>
  <h3 class="hvr-grow-shadow">
    Hygienic Wash & Sanitisation
  </h3>
  <h3 class="hvr-grow-shadow">
    No Prepayment, Pay After Pickup
  </h3>
</div>
<section id="{{ work_id }}">
  <div class="how-it-works">
    <h1>How it works?</h1>
    <h2>Washing clothes was never so conveninet</h2>
  </div>
  <div class="work-features">
    <div class="work-features__feature hvr-grow">
      <div class="work-image-div work-image-mobile"></div>
      <h2>Download Our Mobile App</h2>
      <p>Place order using our Mobile App or Order through Website/Call.</p>
    </div>
    <div class="work-features__feature hvr-grow">
      <div class="work-image-div work-image-rider"></div>
      <h2>Meet Our Rider</h2>
      <p>We collect your laundry & dry cleaning from your doorstep.</p>
    </div>
    <div class="work-features__feature hvr-grow">
      <div class="work-image-div work-image-deliver"></div>
      <h2>Express Delievery</h2>
      <p>We bring your clothes back fresh within 48 hours.</p>
    </div>
  </div>
</section>
<section id="{{ price_id }}">
  <div class="pricing">
    <h1>Pricing</h1>
    <h2>Your time is the most valuable thing you gain</h2>
  </div>
  <div class="price-list">
    <div class="price-list__div">
      <h5>Wash & Fold</h5>
      <p>₹ 59/kg</p>
    </div>
    <div class="price-list__div">
      <h5>Wash & Iron</h5>
      <p>₹89/kg</p>
    </div>
    <div class="price-list__div">
      <h5>Premium Laundry</h5>
      <p>₹99/kg</p>
    </div>
    <div class="price-list__div">
      <h5>Dry Cleaning</h5>
      <p>₹49/piece</p>
    </div>
  </div>
</section>

<section>
  <div class="why-us">
    <h1>Why Us?</h1>
    <h2>We Make Lives Simpler by Giving You More Free Time</h2>
  </div>
  <div class="qualities">
    <div class="qualities-left qual">
      <div class="qualities-left__div">
        <div class="image-eco"></div>
        <h1>Eco-Friendly</h1>
        <h3>We always try to consume relatively less water.</h3>
      </div>
      <div class="qualities-left__div">
        <div class="image-con"></div>
        <h1>Convenience</h1>
        <h3>We schedule pickup and drop as per your convenience.</h3>
      </div>
      <div class="qualities-left__div">
        <div class="image-qual"></div>
        <h1>Quality</h1>
        <h3>
          We use products that revive your clothes and give a new feel to them.
        </h3>
      </div>
    </div>
    <div class="qualities-right qual">
      <div class="qualities-right__div">
        <div class="image-afford"></div>
        <h1>Affordable</h1>
        <h3>
          The amount we charge is relatively less than the cost you bear to get
          the laundry done at your home.
        </h3>
      </div>
      <div class="qualities-right__div">
        <div class="image-pack"></div>
        <h1>Packaging</h1>
        <h3>
          Your clothes are delivered at your doorstep with the perfect crease.
        </h3>
      </div>
      <div class="qualities-right__div">
        <div class="image-comm"></div>
        <h1>Community</h1>
        <h3>
          We collect your donated clothes and spread your love & care to the
          needy ones.
        </h3>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <ul class="footer-list">
    <li class="footer-list-item">
      <a href="">Home</a>
      <p>Copyright © 2019</p>
      <p>Design and Developed by: Ahmad Ashraf</p>
    </li>
    <li class="footer-list-item">
      <div>About Us</div>
      <p>
        WashMyWear provides washing and dry cleaning service. We pick up your
        dirty duds from your doorstep and deliver fresh, clean clothes back at
        your doorstep.
      </p>
      <div></div>
    </li>
    <li class="footer-list-item">
      <div>Contact :</div>
      <p>+91 7503903706</p>
      <p>ahmadashrafdgp@gmail.com</p>
    </li>
  </ul>
</footer>
